<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Bill</title>
    <link rel="stylesheet" href="/new.css" />
  </head>
  <body>
    <div><%- include('../partials/_navbar.ejs') %></div>
    <div class="container">
      <h1>Modify <%= bill.name %></h1>

      <form action="/MyBills/<%= bill._id %>/?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">Bill Name</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            value="<%= bill.name %>"
          />
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            required
            min="0"
            step="0.01"
            value="<%= bill.amount %>"
          />
        </div>

        <div class="form-group">
          <label for="duedate">Due Date</label>
          <input
            type="date"
            id="duedate"
            name="duedate"
            required
            min="2020-01-01"
            max="2030-12-31"
          />
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" name="status" required>
            <option value="unpaid">Unpaid</option>
            <option value="paid">Paid</option>
            <option value="overdue">Overdue</option>
          </select>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select id="category" name="category" required>
            <option value="66feffb8c5e15db56e397fce">Credit Card</option>
            <option value="66ff0004c5e15db56e397fd0">Groceries</option>
            <option value="66ff002fc5e15db56e397fd1">Insurance</option>
            <option value="66ff0041c5e15db56e397fd2">Internet/Cable</option>
            <option value="66ff0051c5e15db56e397fd3">Loan</option>
            <option value="66ff00ee1373d0f822c10e80">Phone</option>
            <option value="66ff01081373d0f822c10e81">Rent/Mortgage</option>
            <option value="66ff01181373d0f822c10e82">Subscriptions</option>
            <option value="66ff012e1373d0f822c10e83">Transportation</option>
            <option value="66ff013d1373d0f822c10e84">Utilities</option>
            <option value="66ff01591373d0f822c10e85">Other</option>
          </select>
        </div>

        <div class="form-group">
          <button type="submit" class="submit-button">Update Bill</button>
        </div>
      </form>
    </div>
  </body>
</html>
