<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bills</title>
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <div><%- include('../partials/_navbar.ejs') %></div>
    <h1>My DashBoard</h1>
    <div class="totals-buttons">
      <a href="/MyBills/view-all">
        <button class="total-button">
          Total Accumulated Debt: $<%= totalAmount %>
        </button></a
      >
      <a href="/MyBills/view-all">
        <button class="total-button">
          Total # of Bills: <%= totalQuantity %>
        </button>
      </a>
    </div>

    <div class="bills-container">
      <div class="bill-section">
        <h2>Unpaid Bills</h2>
        <% if (unpaidBills.length > 0) { %>
        <ul>
          <% unpaidBills.forEach(bill => { %>
          <li>
            <h3><a href="/MyBills/<%= bill._id %>"><%= bill.name %></a></h3>
            <p><strong>Amount:</strong> $<%= bill.amount %></p>
            <p>
              <strong>Due Date:</strong> <%= new
              Date(bill.duedate).toDateString() %>
            </p>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No unpaid bills found.</p>
        <% } %>
        <a href="/MyBills/view-all"><button>VIEW ALL</button></a>
      </div>

      <div class="bill-section">
        <h2>Overdue Bills</h2>
        <% if (overdueBills.length > 0) { %>
        <ul>
          <% overdueBills.forEach(bill => { %>
          <li>
            <h3><a href="/MyBills/<%= bill._id %>"><%= bill.name %></a></h3>
            <p><strong>Amount:</strong> $<%= bill.amount %></p>
            <p>
              <strong>Due Date:</strong> <%= new
              Date(bill.duedate).toDateString() %>
            </p>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No overdue bills found.</p>
        <% } %>
        <a href="/MyBills/view-all"><button>VIEW ALL</button></a>
      </div>

      <div class="bill-section">
        <h2>Completed Bills</h2>
        <% if (completedBills.length > 0) { %>
        <ul>
          <% completedBills.forEach(bill => { %>
          <li>
            <h3><a href="/MyBills/<%= bill._id %>"><%= bill.name %></a></h3>
            <p><strong>Amount:</strong> $<%= bill.amount %></p>
            <p>
              <strong>Due Date:</strong> <%= new
              Date(bill.duedate).toDateString() %>
            </p>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No completed bills found.</p>
        <% } %>
        <a href="/MyBills/view-all"><button>VIEW ALL</button></a>
      </div>
    </div>
    <div class="bill-button-section">
      <a href="/MyBills/new">
        <button>Add a New Bill</button>
      </a>
    </div>
  </body>
</html>
