<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bill Details</title>
    <link rel="stylesheet" href="/show.css" />
  </head>
  <body>
    <div><%- include('../partials/_navbar.ejs') %></div>

    <div class="bill-container">
      <h2 class="bill-name"><%= bill.name %></h2>
      <p><strong>Amount:</strong> $<%= bill.amount %></p>
      <p>
        <strong>Due Date:</strong> <%= bill.duedate.toISOString().slice(0,10) %>
      </p>
      <p><strong>Status:</strong> <%= bill.status %></p>
      <p><strong>Category:</strong> <%= bill.category.name %></p>

      <div class="button-container">
        <a href="/MyBills/<%= bill._id %>/edit" class="edit-button"
          >Modify Bill</a
        >
        <form action="/MyBills/<%= bill._id %>?_method=DELETE" method="POST">
          <button type="submit" class="delete-button">Delete Bill</button>
        </form>
      </div>
    </div>
  </body>
</html>
