<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Bills</title>
  </head>
  <body>
    <div><%- include('../partials/_navbar.ejs') %></div>
    <h1>All Bills</h1>

    <% if (bills.length > 0) { %>
    <ul>
      <% bills.forEach(bill => { %>
      <li>
        <h2><a href="/MyBills/<%=bill._id%>"><%= bill.name %></h2></a>
        <p><strong>Amount:</strong> $<%= bill.amount %></p>
        <p><strong>Due Date:</strong> <%= bill.duedate.toDateString() %></p>
        <p><strong>Status:</strong> <%= bill.status %></p>
        <p><strong>Category:</strong> <%= bill.category.name %></p>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No bills found.</p>
    <% } %>
  </body>
</html>
